.item{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    border: 1px solid black;
    border-radius: 1rem;

}

p{
    min-width: 65%;
}

.item button{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border:none;
    border-radius: 0.3rem;
    min-width: 2.8rem;
    height: 3rem;

}

.item input{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 62%;
}